
<div id ="instrument_select">
  <select index = "0" class ="drum_sample_pick" name="Percus Sample">
    <option value="percus1" selected>Percus1</option>
    <option value="percus2">Percus2</option>
    <option value="percus3">Percus3</option>
  </select>
  <select index = "1" class ="drum_sample_pick" name="HiHat Sample">
    <option value="hihat1" selected>HiHat1</option>
    <option value="hihat2">HiHat2</option>
    <option value="hihat3">HiHat3</option>
  </select>
  <select index = "2" class ="drum_sample_pick" name="Tom Sample">
    <option value="tom1" selected>Tom1</option>
    <option value="tom2">Tom2</option>
    <option value="tom3">Tom3</option>
  </select>
  <select index = "3" class ="drum_sample_pick" name="Clap Sample">
    <option value="clap1" selected>Clap1</option>
    <option value="clap2">Clap2</option>
    <option value="clap3">Clap3</option>
  </select>
  <select index = "4" class ="drum_sample_pick" name="Snare Sample">
    <option value="snare1" selected>Snare1</option>
    <option value="snare2">Snare2</option>
    <option value="snare3">Snare3</option>
  </select>
  <select index = "5" class ="drum_sample_pick" name="Kick Sample">
    <option value="kick1" selected>Kick1</option>
    <option value="kick2">Kick2</option>
    <option value="kick3">Kick3</option>
  </select>
</div>
<div class = "clip_box" id = "track_-1_container"></div>
<div id ="clip_control_row">
  <%=render 'clip_controls'%>
</div>

<!-- <canvas id="screen" width="637px" height="286px"></canvas> -->
