<% content_for :javascript_includes do %>
  <%= javascript_include_tag "drum-machine/drum-machine.js" %>
  <%= javascript_include_tag "drum-machine/user_interface.js" %>
<% end %>
<div class = "clip_box" id = "track_-1_container">

</div>

<!-- <canvas id="screen" width="637px" height="286px"></canvas> -->
