
<div id = "tracking_container">

</div>
<div id ="song_display">
  <div class = "track_type_container" >
    <div class ="track_type">
    <select index = "0" class ="synth_pick" name="synth_1">
      <option class = "synth_option" value="simple_square">simple_square</option>
      <option class = "synth_option" value="simple_sawtooth">simple_sawtooth</option>
      <option class = "synth_option" value="simple_sine" selected>simple_sine</option>
      <option class = "synth_option" value="simple_triangle" >simple_triangle</option>
      <option class = "synth_option" value="fat_wave" >fat_wave</option>
      <option class = "synth_option" value="chill_wave" >chill_wave</option>
    </select>
      <select index = "0" class ="octave_pick" name="octive_1">
        <option class = "octave_option" value="6" mult="6" >C-7</option>
        <option class = "octave_option" value="5" mult="5" >C-6</option>
        <option class = "octave_option" value="4" mult="4" >C-5</option>
        <option class = "octave_option" value="3" mult="3" selected>C-4</option>
        <option class = "octave_option" value="2" mult="2" >C-3</option>
        <option class = "octave_option" value="1" mult="1" >C-2</option>
      </select>
    </div>
    <div class ="track_type">
      <select index = "1" class ="synth_pick" name="synth_2">
        <option class = "synth_option" value="simple_square">simple_square</option>
        <option class = "synth_option" value="simple_sawtooth" selected>simple_sawtooth</option>
        <option class = "synth_option" value="simple_sine">simple_sine</option>
        <option class = "synth_option" value="simple_triangle" >simple_triangle</option>
        <option class = "synth_option" value="fat_wave" >fat_wave</option>
        <option class = "synth_option" value="chill_wave" >chill_wave</option>
      </select>
      <select index = "1" class ="octave_pick" name="octive_2">
        <option class = "octave_option" value="6" mult="6" >C-7</option>
        <option class = "octave_option" value="5" mult="5" >C-6</option>
        <option class = "octave_option" value="4" mult="4" >C-5</option>
        <option class = "octave_option" value="3" mult="3" selected>C-4</option>
        <option class = "octave_option" value="2" mult="2" >C-3</option>
        <option class = "octave_option" value="1" mult="1" >C-2</option>
      </select>
    </div>
    <div class ="track_type">
      <select index = "2" class ="synth_pick" name="synth_3">
        <option class = "synth_option" value="simple_square" selected>simple_square</option>
        <option class = "synth_option" value="simple_sawtooth">simple_sawtooth</option>
        <option class = "synth_option" value="simple_sine">simple_sine</option>
        <option class = "synth_option" value="simple_triangle" >simple_triangle</option>
        <option class = "synth_option" value="fat_wave" >fat_wave</option>
        <option class = "synth_option" value="chill_wave" >chill_wave</option>
      </select>
      <select index = "2" class ="octave_pick" name="octive_2">
        <option class = "octave_option" value="6" mult="6" >C-7</option>
        <option class = "octave_option" value="5" mult="5" >C-6</option>
        <option class = "octave_option" value="4" mult="4" >C-5</option>
        <option class = "octave_option" value="3" mult="3" selected>C-4</option>
        <option class = "octave_option" value="2" mult="2" >C-3</option>
        <option class = "octave_option" value="1" mult="1" >C-2</option>
    </select>
    </div>
     <div class ="track_type">
      Drums
    </div>
  </div>
  <div id = "song_wrapper">
    <div class = "canvas_container" id = "track_0_container"></div>
    <div class = "canvas_container" id = "track_1_container" ></div>
    <div class = "canvas_container" id = "track_2_container"></div>
    <div class = "canvas_container" id = "track_3_container"></div>
  </div>
</div>
