<% content_for :javascript_includes do %>
  <%= javascript_include_tag "drum-machine/multi_clip.js" %>
<% end %>
<div class = "song_container" id = "track_0_container">
  <div class ="track_type">
    Synth
  </div>
</div>
<div class = "song_container" id = "track_1_container">
  <div class ="track_type">
    Synth
  </div>
</div>
<div class = "song_container" id = "track_2_container">
  <div class ="track_type">
    Synth
  </div>
</div>
<div class = "song_container" id = "track_3_container">
  <div class ="track_type">
    Drums
  </div>
</div>
