
<div id = "tracking_container">

</div>
<div id ="song_display">
  <div class = "track_type_containter" >
    <div class ="track_type">
      Synth
    </div>
    <div class ="track_type">
      Synth
    </div>
    <div class ="track_type">
      Synth
    </div>
     <div class ="track_type">
      Drums
    </div>
  </div>
  <div id = "song_wrapper">
    <div class = "canvas_container" id = "track_0_container"></div>
    <div class = "canvas_container" id = "track_1_container" ></div>
    <div class = "canvas_container" id = "track_2_container"></div>
    <div class = "canvas_container" id = "track_3_container"></div>
  </div>
</div>
