<%= render 'home_nav' %>
<div class = "login_row">
  <div class ="home_box">
    <% if current_user %>
      <span> Welcome <%= current_user.name%></span>
      <a class="login_link" href ="/clips">Make a loop!</a>
      <a class="login_link" href ="/signout">Log out!</a>
    <% else %>
      <a class="login_link" href ="/auth/spotify">Spotify Login</a>
      <a class="login_link" href ="/auth/twitter">Twitter Login</a>
    <% end %>
   </div>
</div>


