$nav-height: 80px;
$library-width: 160px;
$song-control-height: 50px;
$track-type-width: 75px;

#clip_library{
  position: fixed;
  top:$nav-height;
  left:0;
  width: $library-width;
  height:100vh;

  background-color: rgba(44,44,44,1);
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.library_list{
  overflow-y:scroll;
}

.list_title{
  width: 100%;
  height: 50px;
  background: rgba(55,55,55,1);
  display: flex;
  flex-align: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list_title:hover{
  background: rgba(66,66,66,1);
}

.library_list{
  margin: 0;
  padding: 4px;
}

.card {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  list-style-type: none;
  background: rgba(44,88,44,1);
  cursor: pointer;
}

.card:hover{
  background: rgba(66,185,66,1);
}

.card_title{
  font-size: 14px;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.delete{
  position: absolute;
  display: inline;
  right: 0;
  top: 0;
}




